.jhscw { 
  line-height: 26px;
  padding-top: 76px;
  padding-left: 26px;
  border-left-width: 29px;
  margin-right: 39px;
  padding-left: 0px;
  border-bottom-width: 62px;
  margin-bottom: 20px;
  border-left-width: 85px;
  border-top-width: 36px;
}
