.jhscw { 
  line-height: 26px;
  padding-top: 76px;
  padding-left: 26px;
  border-left-width: 29px;
  margin-right: 39px;
  padding-left: 0px;
  border-bottom-width: 62px;
  margin-bottom: 20px;
  border-left-width: 85px;
  line-height: 77px;
  padding-right: 97px;
  border-right-width: 51px;
  border-right-width: 56px;
  line-height: 16px;
  margin-right: 44px;
  margin-top: 17px;
  padding-bottom: 17px;
}
